<h3><%=@tweet.content%></h3>

<p> <a href="/tweets/<%=@tweet.id%>/edit">Edit Tweet</a> - <a href="/tweets/<%=@tweet.id%>/delete">Delete Tweet</a></p>

<form method="POST" action="/articles/<%=@article.id%>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>